@use "../../styles/variables" as *;

.landing-page {
  background-color: rgb(1, 1, 40);
  position: relative;
}

.image__top {
  width: 100%;
  // height: 100vh;
  margin-bottom: 0;
  // object-fit: cover;

  @media (min-width: 25rem) {
    width: 100%;
    height: 852px;
  }
}

.carousel {
  align-items: center;
  height: 12.5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1rem;
  border-radius: 20px;
  background-color: white;
  margin: 0.1rem 0;
  text-decoration: none;

  &__image {
    height: 90%;
    margin-top: 0.8rem;
    width: 40%;
    border-radius: 0 20px 0 0;
  }

  &__container {
    position: absolute;
    bottom: 16rem;
    padding: 0 1rem;
  }
}

.title {
  color: black;
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin-top: 0.5rem;
}

.body {
  font-size: 0.8rem;
  color: gray;
}
