@use "./typography";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-family: "Aeonik";
}


.single-screen-header {
  text-align: center;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

button {
  font-family: "Aeonik";
}
