@font-face {
  font-family: "Aeonik";
  src: url("./assets/fonts/Aeonik-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Aeonik";
  src: url("./assets/fonts/Aeonik-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Aeonik";
  src: url("./assets/fonts/Aeonik-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
