$white: #ffffff;
$black: #0000;
$backgroundprimary: #161618;
$deepblue: #1326fd;
$mid-blue: #6fa0ff;
$light-blue: #c6d9fd;
$mid-purple: #a7aaf8;
$light-purple: #caccfb;
$accent-purple: #9539f2;
$accent-lime: #bfff37;
